{% extends 'base.html' %}

{% block title  %}
About
{% endblock title  %}


{% block body %}

<div class = "container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?aboutus, me" class="d-block w-100 mx-0" alt="">
</div>

<div>

    <div class="text-center" style="margin-top:20px" class = "container mb-3" >
        <h1>About Us</h1>
        <h3 style="margin-top:40px">We are the best IceCream seller in the Town</h3>
        <p class="text-center" style= "padding-left: 300px;
        padding-right: 300px;">Pierre’s Ice Cream shop opened its doors in 1932, at a chic East 82nd Street and Euclid Avenue location in Cleveland, Ohio. Its gourmet ice creams were prepared fresh each day in the back of the store and sold by the cone, the cup, or hand packed for take home. Company founder, Alexander “Pierre” Basset, dreamed of marketing a “premium ice cream” which would be unsurpassed. Thus the name Pierre’s … and the creamy, indulgent recipe that is still used today.

            It didn’t take long for Pierre’s to outgrow its small space on Euclid Avenue. Through the years, Pierre’s made numerous expansions and relocations, each time into larger, more efficient manufacturing facilities. With each move, Pierre’s always stayed within three miles of its original location … right in the heart of Cleveland, Ohio.
            
            Pierre’s moved into its current distribution center and office headquarters at East 65th Street and Euclid Avenue in 1995, just one mile west of its original shop.
            
            In 2011, Pierre’s opened a brand new, 35,000-square-foot ice cream factory containing state-of-the-art technology and efficiencies, along with enhanced food-safety and food-quality features.
            
            These facility investments, along with Pierre’s eye-catching fleet of special, low-temperature trucks, provided a platform to service retailers and distributors across the country with high quality products and world-class service.
            
            As an anchor company in the heart of MidTown Cleveland, Pierre’s demonstrated a bold commitment to the community in the early 1990s by remaining and reinvesting in the neighborhood.
            
            One of the first ice cream producers in the country to achieve SQF Level 3 certification – the industry’s highest achievable level of food safety and food quality – Pierre’s is poised to continue contributing and innovating in the food industry.
            
            Looking back, the first product that Pierre’s produced was its pint. French Vanilla, Swiss Chocolate and Strawberry comprised the entire assortment and were sold throughout local grocery stores.
            
            An updated version of the original package design is still used today to remind consumers that Pierre’s is dedicated to upholding the high-quality recipes developed at the original ice cream shop. Pierre’s assortment of products has grown through the years. Presently there are over 235 different products and flavors that bear the Pierre’s name. This dedication influences the company’s focus on the future as it develops new opportunities and continues to be innovative and sensitive to ice cream lovers’ ever-changing needs and new trends.
            
            We strive to exceed our customers’ expectations by providing the very best products and services, and by working to create a challenging and rewarding environment for our employees, while encouraging growth and learning for all.
            
            If it says “Pierre’s”, you can be sure you will experience 100% total satisfaction in every spoonful!</p>

</div>

<div class="bottom" style="padding: 10px 0 10px;
background-color: #212529cc; padding-right: 20px">
            
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright" style="color: #eaf6f6;
    font-size: 10px;
    padding: 20px 0;">© Mishra</p>
</div>

{% endblock body %}
