{% extends 'base.html' %}

{% block title  %}
Services
{% endblock title  %}


{% block body %}


<div class="bottom" style="padding: 10px 0 10px;
background-color: #212529cc; padding-right: 20px">
            
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright" style="color: #eaf6f6;
    font-size: 10px;
    padding: 20px 0;">© Mishra</p>
</div>

{% endblock body %}
